<p-toast life="9000" [style]="{marginTop: '30px'}"></p-toast>

<div class="inline">
    <div class="form-inline col-md-5 col-lg-5">
        <h5>Time Period: </h5>
        <p-calendar [(ngModel)]="startDate" showButtonBar="true" dateFormat="mm-dd-yy"></p-calendar>
        <h5> ~ </h5>
        <p-calendar [(ngModel)]="endDate" showButtonBar="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="form-inline col-md-1 col-lg-1">
        <button pButton type="button" label="Submit" (click)="preview()"></button>
    </div>
</div>
<div class="modal-dialog modal-sm" style="z-index:99999;" *ngIf='waitDiv'>
    <p-progressSpinner></p-progressSpinner>
    <!-- <img src='assets/loader.gif' /> -->
</div>
<div class='table-full' style="position: fixed; right: 1px; bottom: 10px; width: 100%; top: 80px;" *ngIf="!disabled">
    <div class="table-responsive"
        style="font-size: 10px; width: 100%; height: 100%; overflow-x: auto; overflow-y: auto;">
        <p-table [columns]="cols" [value]="datas" sortMode="multiple" [resizableColumns]="true" [paginator]="true"
            [rows]="10" [rowsPerPageOptions]="[10,50,100]" [tableStyle]="{'table-layout':'auto'}" [loading]="loading">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn nowrap>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns" class="ui-resizable-column" nowrap>
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td *ngFor="let col of columns">
                        {{col.header}}
                    </td>
                </tr>
            </ng-template>
            <ng-template id="pageCount" pTemplate="paginatorleft" let-state>
                Displaying {{state.first + 1}} -
                {{(state.rows * (state.page + 1))>state.totalRecords?state.totalRecords:state.rows * (state.page + 1)}}
                of {{totalRecords}}
            </ng-template>
        </p-table>
    </div>
</div> 