<p-toast life="9000" [style]="{marginTop: '30px'}"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="inline">
    <div class="form-inline col-md-5 col-lg-5">
        <h5>Time Period: </h5>
        <p-calendar [(ngModel)]="startDate" showButtonBar="true" dateFormat="mm-dd-yy"></p-calendar>
        <h5> ~ </h5>
        <p-calendar [(ngModel)]="endDate" showButtonBar="true" dateFormat="mm-dd-yy"></p-calendar>
    </div>
    <div class="form-inline col-md-1 col-lg-1">
        <button pButton type="button" class="ui-button-rounded" label="Preview" (click)="preview()"></button>
    </div>
    <div class="form-inline col-md-1 col-lg-1">
        <button pButton type="button" class="ui-button-rounded ui-button-danger" label="delete"
            (click)="deleteConfirm()" [disabled]="selectedItems?selectedItems.length==0:true"></button>
    </div>
</div>
<div class="modal-dialog modal-sm" style="z-index:99999;" *ngIf='waitDiv'>
    <p-progressSpinner></p-progressSpinner>
    <!-- <img src='assets/loader.gif' /> -->
</div>
<div class='table-full' style="position: fixed; right: 1px; bottom: 10px; width: 100%; top: 100px;" *ngIf="!disabled">
    <div class="table-responsive"
        style="font-size: 10px; width: 100%; height: 100%; overflow-x: auto; overflow-y: auto;">
        <p-table [columns]="cols" [value]="datas" [(selection)]="selectedItems" sortMode="multiple"
            [resizableColumns]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,50,100]"
            [tableStyle]="{'table-layout':'auto'}" [loading]="loading">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 3em">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn nowrap>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th style="width:8em"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex">
                <tr [pSelectableRow]="rowData">
                    <td class="ui-resizable-column" nowrap>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
                    <td *ngFor="let col of columns" class="ui-resizable-column" nowrap>
                        {{rowData[col.field]}}
                    </td>
                    <td style="text-align:center">
                        <button pButton icon="pi pi-pencil" (click)="selectRowWithButton(rowData)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <ul>
                    <li *ngFor="let g of selectedItems" style="text-align: left">
                        {{g.PLATFORM}}
                    </li>
                </ul>
            </ng-template>
            <ng-template id="pageCount" pTemplate="paginatorleft" let-state>
                Displaying {{state.first + 1}} -
                {{(state.rows * (state.page + 1))>state.totalRecords?state.totalRecords:state.rows * (state.page + 1)}}
                of {{totalRecords}}
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog header="Edit" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [closable]="true" [width]="600">
    <div class="ui-g ui-fluid">
        <div class="ui-g-3"><label for="jobClassName">ID:</label></div>
        <div class="ui-g-9"><input pInputText id="jobClassName" [(ngModel)]="salesData.id" disabled /></div>

        <div class="ui-g-3"><label for="jobGroupName">TIME_PERIOD:</label></div>
        <div class="ui-g-9"><input pInputText id="jobGroupName" [(ngModel)]="salesData.TIME_PERIOD" disabled /></div>

        <div class="ui-g-3"><label for="cronExpression">PLATFORM:</label></div>
        <div class="ui-g-9"><input pInputText id="cronExpression" [(ngModel)]="salesData.PLATFORM" /></div>

        <div class="ui-g-3"><label for="jobName">UNITS:</label></div>
        <div class="ui-g-9"><input pInputText id="jobName" [(ngModel)]="salesData.UNITS" /></div>

        <div class="ui-g-3"><label for="triggerGroupName">DOLLARS:</label></div>
        <div class="ui-g-9"><input pInputText id="triggerGroupName" [(ngModel)]="salesData.DOLLARS" /></div>

        <div class="ui-g-3"><label for="triggerName">AVERAGE_PRICE:</label></div>
        <div class="ui-g-9"><input pInputText id="triggerName" [(ngModel)]="salesData.AVERAGE_PRICE" /></div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayDialog=false" label="Cancel"
                class="btn btn-secondary" s></button>
        </div>
    </p-footer>
</p-dialog>