.btn-link {
	color: rgba(252, 187, 0, 1);
}

.btn-link:hover, .btn-link:focus {
	color: rgba(234, 107, 8, 1);
}

.btn-warning {
	color: #fff;
	background-color: rgba(252, 187, 0, 1);
	border-color: #eea236
}

.btn-warning.focus, .btn-warning:focus {
	color: #fff;
	background-color: rgba(234, 107, 8, 1);
	border-color: #985f0d
}

.btn-warning:hover {
	color: #fff;
	background-color: rgba(234, 107, 8, 1);
	border-color: #d58512
}

.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning
	{
	color: #fff;
	background-color: rgba(234, 107, 8, 1);
	border-color: #d58512
}

.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover,
	.btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover,
	.open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus,
	.open>.dropdown-toggle.btn-warning:hover {
	color: #fff;
	background-color: #d58512;
	border-color: #985f0d
}

.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning
	{
	background-image: none
}

.btn-warning.disabled.focus, .btn-warning.disabled:focus, .btn-warning.disabled:hover,
	.btn-warning[disabled].focus, .btn-warning[disabled]:focus,
	.btn-warning[disabled]:hover, fieldset[disabled] .btn-warning.focus,
	fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover
	{
	background-color: rgba(252, 187, 0, 1);
	border-color: #eea236
}

.btn-warning .badge {
	color: rgba(252, 187, 0, 1);
	background-color: #fff
}

.btn-warning-outline {
	color: rgba(252, 187, 0, 1);
	background-color: transparent;
	border-color: rgba(252, 187, 0, 1);
}

.btn-warning-outline:focus, .btn-warning-outline.focus,
	.btn-warning-outline:hover, .btn-warning-outline:active,
	.btn-warning-outline.active, .open>.dropdown-toggle.btn-warning-outline
	{
	color: #fff;
	background-color: rgba(252, 187, 0, 1);
	box-shadow: none;
}

.btn-warning-outline.disabled, .btn-warning-outline[disabled], fieldset[disabled] .btn-warning-outline,
	.btn-warning-outline.disabled:hover, .btn-warning-outline[disabled]:hover,
	fieldset[disabled] .btn-warning-outline:hover, .btn-warning-outline.disabled:focus,
	.btn-warning-outline[disabled]:focus, fieldset[disabled] .btn-warning-outline:focus,
	.btn-warning-outline.disabled.focus, .btn-warning-outline[disabled].focus,
	fieldset[disabled] .btn-warning-outline.focus, .btn-warning-outline.disabled:active,
	.btn-warning-outline[disabled]:active, fieldset[disabled] .btn-warning-outline:active,
	.btn-warning-outline.disabled.active, .btn-warning-outline[disabled].active,
	fieldset[disabled] .btn-warning-outline.active {
	border-color: rgba(252, 187, 0, 1);
}

.btn-warning-outline .badge {
	color: #fff;
	background-color: rgba(252, 187, 0, 1);
}

.alert-warning {
	background-color: rgba(252, 187, 0, 1);
	border-color: rgba(252, 187, 0, 1);
	color: #ffffff;
}

.alert-warning hr {
	border-top-color: #e1d420;
}

.alert-warning .alert-link {
	color: #e6e6e6;
}

.progress-bar-warning {
	background-color: rgba(252, 187, 0, 1);
}

.pagination-sm>li>a, .pagination-sm>li>span {
	color: rgba(252, 187, 0, 1);
}

.pagination-sm>li>a:hover, .pagination-sm>li>a:focus {
	color: rgba(234, 107, 8, 1);
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
	.pagination>li>span:hover {
	color: rgba(234, 107, 8, 1);
}
/*
.headerSortDown, .headerSortUp, .ui-state-active {
	color: rgba(234, 107, 8, 1) !important;
	border-bottom-color: rgba(234, 107, 8, 1) !important;
}
*/
.ui-chkbox-box.ui-state-active {
	border: 1px solid rgba(252, 187, 0, 1) !important;
	background: rgba(252, 187, 0, 1) !important;
}

.ui-treenode-icon {
	color: rgba(252, 187, 0, 1);
}

.ui-datatable th.ui-state-active {
	background: rgba(252, 187, 0, 1) !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
	padding: 0px;
	box-shadow: none;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 24px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
	padding: 0px;
	box-shadow: none;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
	width: 24px;
}

.ui-radiobutton-box {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.ui-inputswitch-on, .ui-inputswitch-off, .ui-calendar {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.ui-button {
	background-color: #f7931e !important;
	border-color: #875010 !important;
	color: #ffffff !important;
	text-shadow: 0 1px 0 #444444 !important;
}

.ui-splitbutton-menubutton {
	width: 20px !important;
}